
*{
  
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

body{
  width: 70%;
  background-color: #e2c5ff;
  justify-self: center;
}

h2{
  justify-self: center;
  font-size: 2em;
  
  font-weight: 700;
}

.introduccion, .introduccion-ingles{
    font-size: 30px;
}

.divFoto img {
    
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  transform-origin: center;
  transition: transform 0.25s ease, border-color 0.25s ease; 
  cursor: pointer;
  transform-style: preserve-3d;
  display: inline-block;
  border-radius: 16px;
}

.divFoto img:hover{
  
  transform: scale(1.08); 
  border: 4px solid #00ff08;
  border-width: 90%;
  
  

}

a{
  color: #00ff08;
}

.fondo {
  position: fixed;
   inset: 0;  
  z-index: -1;
  width: 100vw;          /* ← 100% del ancho del viewport */
  height: 100vh;   
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    opacity: 0.5;

}

.cerrar {
  position: fixed;
  top: 100px;
  right: 40px;
  font-size: 50px !important;
  cursor: pointer;
  color: #ff0000;
  transition: transform 0.3s ease, opacity 0.3s ease;
  
}
.introduccion, .Descripcion, .DescripcionIngles {
  display: none;
}

.introduccion.mostrar, .Descripcion.mostrar, .DescripcionIngles.mostrar {
  display: block;
}

.cerrar:hover {
  transform: scale(1.2);
  color: #00ff08;
}

.oculto {
   display: none ;
}

.mostrar{
    display: block;
}

.Descripcion, .DescripcionIngles{
   max-width: 40em;
}



.divFoto{
  width: 600px;      
  height: 300px;     

  border-radius: 8px;
  display: flex;
  
  margin: auto;
  position: relative; 
  
}


.proyecto {
  flex: 1 1 calc(33.333% - 1rem);
  min-width: 250px;
  box-sizing: border-box;
  text-align: center;
}


.verde{
    background-color: rgb(117, 255, 137);
    z-index: 2;
    padding: 1em 2em;
    border-radius: 15px;
    border: 4px solid #5A189A;
    
    
}



.foto-container:hover .tilt-border {
  opacity: 1;
  transform: translateX(0) scale(1); 
}

.panel-izquierdo {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-120%); 
  transition: transform 0.5s ease, opacity 0.4s ease, visibility 0.5s;
  z-index: 5;
  border-right: 4px solid #5A189A;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5A189A;
}

.panel-izquierdo img {
  width: 100%;
  height: 80%;
  border-radius: 16px;
  object-fit: cover;
}


.panel-izquierdo.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.panel-derecho {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  background-color: rgb(0, 89, 13);
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  


  opacity: 0;
  visibility: hidden;
  transform: translateX(100%); 
  transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.5s;
  z-index: 3;
}

.panel-derecho.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.icon {
  width: 60px;
  height: 60px;
  background: rgb(117, 255, 137); 
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: transform 0.2s ease;
}

.icon:hover{
  transform: scale(1.08); 
  border: 4px solid #5A189A;
  border-width: 90%;
  cursor: pointer;
  
}

.negro{
  color: rgb(0, 0, 0);
}

#sideNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100vh;
  background: transparent; 
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}






#portafolioMain{
  display: flex;
  flex-wrap: wrap; 
  gap: 5rem;
  justify-content: center;
  width: 100%;
  object-fit: cover; 
}
